@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Roboto";
	src: url("@/assets/fonts/Roboto-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: url("@/assets/fonts/Roboto-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: url("@/assets/fonts/Roboto-Bold.ttf");
	font-weight: 700;
}

:root {
	--el-color-primary: ;
	--el-color-secondary: #ff9d0b;
}

* {
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #fbf6f6;
	color: #333;
	white-space: normal;
}

.el-tag.el-tag--success {
	background-color: rgba(22, 163, 74, 0.2);
	color: rgba(22, 163, 74, 1);
	font-weight: 600;
}

.el-tag.el-tag--info {
	background-color: rgba(255, 119, 35, 0.2);
	color: #ff7723;
	font-weight: 600;
}

.el-button--primary {
	color: #ed1c24;
}
