:root {
	--el-color-primary: #ed1c24;
	--el-color-secondary: #ff9d0b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #f5f5f5;
}
