/* theme color */
$--color-primary: #ed1c24;
$--color-success: #67c23a;
$--color-info: #6c7af5;

/* icon font path, required */
$--font-path: "element-ui/lib/theme-chalk/fonts";

@import "element-ui/packages/theme-chalk/src/index";
